*,::before,:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 0.15em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}